.root {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    overflow: hidden;
    padding-top: 5rem;
    padding-bottom: 2rem;
}

.imageList {
    width: 500;
    height: 450;
}


.icon {
    color: 'rgba(255, 255, 255, 0.001)';
}

.view-btn {
    text-transform: capitalize;
    border-color: #9d9e9b;
}

.gridList {
    width: 500;
    height: 700;
}

.logo-hero {
    width: 30rem;
}

.outer {
    display: flex;
    justify-content: normal;
    align-items: center;
}


.home-text-intro {
    max-width: 70%;
    padding-top: 2.5rem;
    font-size: 1rem;
    color: #4a4644;
    text-align: justify;
    line-height: 1.4;
}

.search-form {
    padding-top: 4rem;
    padding-bottom: 2rem;
    margin: 0 auto;
}

.pseudo-search {
    display: inline;
    border-radius: 100px;
    padding: 24px 24px;
    background-color:#FFF9F7;
    margin-bottom: 10rem;

}

.pseudo-search input {
    font-size: 24px;
    border: 2px;
    background-color:#FFF9F7;
    width: 90%;
}

input:focus {
    outline: none;
}

.pseudo-search button,
i {
    border: none;
    background: none;
    cursor: pointer;
}

.pseudo-search select {
    border: none;
}

.search-clear {
    font-size: 18px;
    color: #4a4644;
}

.search-icon {
    font-size: 1.2rem;
    padding-left: 8px;
}

.profiles {
    border-radius: 16px;
    background: #FFF9F7;
    padding: 2rem;
}